@import "variables";
@import "mixins";

html {
  font-size: 62.5%;

  @include breakpoint(sm) {
    font-size: 50%;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

.blur-body:not(#nav) {
  filter: blur(2px);
}

.nonVisible-nav {
  --sidebar-width: 0;
}

.wide-nav {
  --sidebar-width: 17rem;
}

.narrow-nav {
  --sidebar-width: 5rem;
}

.dark-mode {
  --primary-color: #2d483b;
  --secondary-color: #051f20;
  --tertiary-color: #051f20;
  --supplement-color: #f7fac3;
  --text-color: #fafcda;
  --white-color: #fafcda;
  --modal-color: #051f20;
  --tertiary-darker-color: #041617;
  --scroll-thumb-active-color: #020e0e;
  --scroll-track-color: #1e2b27;
  --even-td-color: #04191a;
  --card-text-color: #f7fac3;
  --options-hover-color: #083436;
}

.light-mode {
  --secondary-color: #dfdfd5;
  --primary-color: #e5e4e2;
  --tertiary-color: #023020;
  --text-color: #023020;
  --supplement-color: #662c27;
  --white-color: #fff;
  --modal-color: #e5e4e2;
  --tertiary-darker-color: #26402a;
  --scroll-thumb-active-color: #172719;
  --scroll-track-color: #d2d0cc;
  --even-td-color: #d9d7d5;
  --card-text-color: #023020;
  --options-hover-color: #023020;
}

:root {
  scrollbar-width: thin !important;
  scrollbar-color: transparent !important;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--secondary-color);
  background-image: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.light-mode {
  body.background-mode {
    background-image: url("https://cdn.jsdelivr.net/gh/mahdi-ho1374/green-admin-panel-frontend/images/background-light.jpg");
    background-size: cover;
  }
}

html.dark-mode {
  body.background-mode {
    background-image: url("https://cdn.jsdelivr.net/gh/mahdi-ho1374/green-admin-panel-frontend/images/background-dark.jpg");
    background-size: cover;
    background-blend-mode: overlay;
  }
}

a,
a:visited,
a:link,
a:focus,
a:active {
  text-decoration: none;
}

ul {
  list-style: none;
}

input,
input:focus,
input:hover,
input:active {
  border: none;
  outline: none;
}

button {
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  width: 1rem;
}

#edit::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: map-get($accent-colors, edit);
}

#edit::-webkit-scrollbar-thumb:hover,
#edit::-webkit-scrollbar-thumb:active {
  background-color: darken(map-get($accent-colors, edit), 2%);
}

#details::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: map-get($accent-colors, info);
}

#details::-webkit-scrollbar-thumb:hover,
#details::-webkit-scrollbar-thumb:active {
  background-color: darken(map-get($accent-colors, info), 2%);
}

#delete::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: map-get($accent-colors, delete);
}

#delete::-webkit-scrollbar-thumb:hover,
#delete::-webkit-scrollbar-thumb:active {
  background-color: darken(map-get($accent-colors, delete), 2%);
}

#add::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: map-get($accent-colors, success);
}

#add::-webkit-scrollbar-thumb:hover,
#add::-webkit-scrollbar-thumb:active {
  background-color: darken(map-get($accent-colors, success), 2%);
}

#table::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--tertiary-darker-color);
}

#table::-webkit-scrollbar-thumb:hover,
#table::-webkit-scrollbar-thumb:active {
  background-color: var(--scroll-thumb-active-color);
}

#table::-webkit-scrollbar-track {
  background-image: linear-gradient(
    to bottom,
    var(--primary-color) 0,
    var(--primary-color) 4.5rem,
    var(--text-color) 4.5rem,
    var(--text-color) 4.6rem,
    var(--scroll-track-color) 4.6rem,
    var(--scroll-track-color) 100%
  );

  @include breakpoint(sm) {
    background-image: linear-gradient(
      to bottom,
      var(--primary-color) 0,
      var(--primary-color) 31.5rem,
      var(--text-color) 31.5rem,
      var(--text-color) 31.6rem,
      var(--scroll-track-color) 31.6rem,
      var(--scroll-track-color) 100%
    );
  }
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

#nav::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
}

#nav {
  scrollbar-width: thin;
  scrollbar-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
