$accent-colors: (
  edit: #a855f7,
  delete: #ef4444,
  error: #ef4444,
  info: #3b82f6,
  warning: #f97316,
  success: #0a6f4d,
);

$breakpoints: (
  xxl: "max-width: 87.5em",
  xl: "max-width: 75em",
  lg: "max-width: 62em",
  md: "max-width: 48em",
  sm: "max-width: 36em",
);
